body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}


/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  font-weight: 800;
  background-color: #04AA6D;
  color: #FFFFFF;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
}

.btn-ko {
 padding: 1rem 2rem;
}

.registerbtn:hover {
  background-color: #22a699;
  color: #FFFFFF;
   border-width: 4px;
  opacity: 1;
}

.container {
  border: 30px 30px;
  padding: 100px;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

